<mat-drawer mode="side" opened class="sidenav-container">
    <mat-list class="sidenav__list">
        <a class="plainlink" (click)="onClick('country')">
            <mat-list-item class="sidenav__list--item">Country</mat-list-item>
        </a>
        <a class="plainlink" (click)="onClick('countries')">
            <mat-list-item class="sidenav__list--item">Countries</mat-list-item>
        </a>
        <a class="plainlink" (click)="onClick('athlete')">
            <mat-list-item class="sidenav__list--item">Athlete</mat-list-item>
        </a>
        <a class="plainlink" (click)="onClick('athletes')">
            <mat-list-item class="sidenav__list--item">Athletes</mat-list-item>
        </a>
    </mat-list>
</mat-drawer>