/* You can add global styles to this file, and also import other style files */
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.border {
    border: 1px solid black;
}
html, body { 
    height: 100%;
    font-size: 62.5%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    box-sizing: border-box;
}

.plainlink {
    text-decoration: none;
    cursor: pointer;
}

.plainlink:visited {
    color: black;
}

*:focus {
    outline: none !important;
}