/* You can add global styles to this file, and also import other style files */
.border {
    border: 1px solid black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.plainlink {
    text-decoration: none;
    cursor: pointer;
}

.plainlink:visited {
    color: black;
}

*:focus {
    outline: none !important;
}